@import '~bootstrap/dist/css/bootstrap.min.css';

.board {
  width: 35%;
}

.border {
  background-image: url('https://habrastorage.org/getpro/habr/post_images/c6f/943/aaf/c6f943aaf7f5fd94336286e902a7ed5b.jpg');
}

@media (max-width: 700px) {
  .d-flex {
    flex-direction: column; 
  }

  .board {
    width: 100%;
  }
}

